### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file, encoding="utf-8")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = purchase_data_df['SN'].nunique()
#total_players

pd.DataFrame([total_players], columns = ["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = purchase_data_df['Item ID'].nunique()
average_price = round(purchase_data_df['Price'].mean(), 2)
purchases = purchase_data_df['Purchase ID'].count()
total_revenue = round(purchase_data_df['Price'].sum(), 2)

#create a list to get all values for table
analysis_df = []
#items in list:
analysis_df.append(unique_items)
analysis_df.append("$" + str(average_price))
analysis_df.append(purchases)
analysis_df.append("$" + str(total_revenue))

pd.DataFrame([analysis_df], columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#have to make sure duplicate screennames are not included in the count...(total rows/entries = 780 but total players = 576)

#determine gender
total_entries = purchase_data_df[['SN', 'Gender']]
cleaned_gender = total_entries.drop_duplicates()  #removing the duplicates/cleaning data
gender_count = cleaned_gender['Gender'].value_counts()

#determine percentage
percentage = round((gender_count/total_players)*100, 2)
percentage

gender_demographics_df = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage})
#make male, female, other the index ilo 0,1,2
gender_demographics_df.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demographics_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#purchase count by gender
groupby_gender = purchase_data_df[['SN','Gender']]
purchasecount_by_gender = groupby_gender['Gender'].value_counts()
purchasecount_by_gender
#total purchase value by gender
purchaseamount_by_gender = purchase_data_df.groupby(['Gender']).sum()['Price']
purchaseamount_by_gender
#average purchase total by gender
averagepurchase_by_gender = round((purchaseamount_by_gender / purchasecount_by_gender), 2)
averagepurchase_by_gender
#ave total purchase per person
#avepurchaseperperson = round((purchaseamount_by_gender / gender_count["Total Count"]), 2)
#avepurchaseperperson
#NEED HELP WITH AVE TOTAL PURCHASE PER PERSON!!!!!!!!!!!!!!!!!!

#all info in 1 data frame:
gender_purchase_analysis_df = pd.DataFrame({"Purchase Count": purchasecount_by_gender, "Average Purchase Price": averagepurchase_by_gender, \
                                            "Total Purchase Value": purchaseamount_by_gender})
    
#make male, female, other the index ilo 0,1,2
gender_purchase_analysis_df.index = (["Female", "Male", "Other / Non-Disclosed"])
gender_purchase_analysis_df.index.name = 'Gender' 
gender_purchase_analysis_df

#adding dollar signs to currency values
gender_purchase_analysis_df.style.format({"Average Purchase Price": "${:.2f}","Total Purchase Value":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#clean data
age_bin_df = purchase_data_df[['SN','Age']]
age_bin_df = age_bin_df.drop_duplicates()

# create bins for ages and count the quantity per bin
age_under10 = age_bin_df[age_bin_df['Age'] < 10].count()[0]
age_10to14 = age_bin_df[(age_bin_df['Age'] >= 10) & (age_bin_df['Age'] <= 14)].count()[0]
age_15to19 = age_bin_df[(age_bin_df['Age'] >= 15) & (age_bin_df['Age'] <= 19)].count()[0]
age_20to24 = age_bin_df[(age_bin_df['Age'] >= 20) & (age_bin_df['Age'] <= 24)].count()[0]
age_25to29 = age_bin_df[(age_bin_df['Age'] >= 25) & (age_bin_df['Age'] <= 29)].count()[0]
age_30to34 = age_bin_df[(age_bin_df['Age'] >= 30) & (age_bin_df['Age'] <= 34)].count()[0]
age_35to39 = age_bin_df[(age_bin_df['Age'] >= 35) & (age_bin_df['Age'] <= 39)].count()[0]
age_over40 = age_bin_df[age_bin_df['Age'] >= 40].count()[0]
ages = [age_under10, age_10to14, age_15to19, age_20to24, age_25to29, age_30to34, age_35to39, age_over40]

# get percentages
percent_under10 = round((age_under10/total_players)*100,2)
percent_10to14 = round((age_10to14/total_players)*100,2)
percent_15to19 = round((age_15to19/total_players)*100,2)
percent_20to24 = round((age_20to24/total_players)*100,2)
percent_25to29 = round((age_25to29/total_players)*100,2)
percent_30to34 = round((age_30to34/total_players)*100,2)
percent_35to39 = round((age_35to39/total_players)*100,2)
percent_over40 = round((age_over40/total_players)*100,2)
percents_of_ages = [percent_under10, percent_10to14, percent_15to19, percent_20to24, percent_25to29, percent_30to34, percent_35to39, percent_over40]

age_demographics = {"Total Count": ages, "Percentage of Players": percents_of_ages}
    
# Creating DataFrame & setting index
age_demographics_df = pd.DataFrame(age_demographics)
age_demographics_df.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
age_demographics_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [150]:
#use bins for ages:

bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice the data and place it into bins
pd.cut(age_bin_df['Age'], bins, labels=bin_labels).head()

# Place the data series into a new column inside of the DataFrame
purchase_data_df['Age Bin'] = pd.cut(purchase_data_df['Age'], bins, labels=bin_labels)


purchase_data_df.head()

#Purchase Count:
age_purchase_count = purchase_data_df.groupby('Age Bin')['Item Name']
age_purchase_count.count()

#Average purchase price by age range: 
age_averagepurchaseprice = purchase_data_df.groupby('Age Bin')['Price'].mean()
age_averagepurchaseprice.round(2)

#Total purchase price by age range:
age_totalpurchaseprice = purchase_data_df.groupby('Age Bin')['Price'].sum()
age_totalpurchaseprice.round(2)

#Ave Total Purchase per Person:
x = purchase_data_df.groupby('Age Bin')['SN'].nunique()
x
ave_total = (age_totalpurchaseprice/x.count())

#HELP - NEED TO GET AVERAGE TOTAL PURCHASE PER PERSON CORRECTED(SEE THE 3 LINES ABOVE)

#final data frame:
Purchase_Analysis_df = pd.DataFrame({"Purchase Count": age_purchase_count.count(),\
                                     "Average Purchase Price": age_averagepurchaseprice.round(2), \
                                     "Total Purchase Value": age_totalpurchaseprice.round(2), \
                                    "Ave Total Purchase per Person": ave_total})
Purchase_Analysis_df.head(10)

Purchase_Analysis_df.style.format({"Average Purchase Price": "${:.2f}","Total Purchase Value":"${:,.2f}", "Ave Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [171]:
SN_purchase = purchase_data_df.groupby('SN').count()['Price'].rename("Purchase Count")

SN_average_price = purchase_data_df.groupby('SN').mean()['Price'].rename("Average Purchase Price")

SN_total_df = purchase_data_df.groupby('SN').sum()['Price'].rename("Total Purchase Value")


#summary data frame:
top_spenders_df = pd.DataFrame({"Purchase Count":SN_purchase, \
                                   "Average Purchase Price": SN_average_price, \
                                   "Total Purchase Value": SN_total_df})
top_spenders_df.head()

#Get the hightest total purchase values at the top:
top_five = top_spenders_df.sort_values("Total Purchase Value", ascending=False)
top_five.head()

top_five.head().style.format({"Average Purchase Price": "${:.2f}","Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [201]:
table = purchase_data_df[["Item ID", "Item Name", "Price"]].head()
table.head()

grouped_table = table.groupby(["Item ID", "Item Name"])
grouped_table.head()
 

items_purchase_count = purchase_data_df.groupby(["Item ID", "Item Name"]).count()["Price"]
items_price = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
items_value_total = purchase_data_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
#Most popular items data frame
most_popular_df = pd.DataFrame({"Purchase Count":items_purchase_count, \
                                   "Item Price":items_price, \
                                   "Total Purchase Value":items_value_total})
top_five_popular = most_popular_df.sort_values("Purchase Count", ascending=False)
top_five_popular.head()

top_five_popular.head().style.format({"Item Price": "${:.2f}","Total Purchase Value":"${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [203]:
most_profitable = most_popular_df.sort_values("Total Purchase Value", ascending=False)
most_profitable.head()

most_profitable.head().style.format({"Item Price": "${:.2f}","Total Purchase Value":"${:.2f}"})